[2016-09-05 11:44] sichvoge opened #1 "Develop a module for RAML data types <> JSON schema"
Introducing RAML data types in RAML 1.0 was, and still is, a huge success in the RAML community. As this is not a new way to model data, but planned to accompany existing schemas by leveraging an easy to write and human readable language. To achieve that, someone must be able to easily convert a RAML data type into a JSON schema that he can use for his / her existing tool chain, or the other way a

[2016-09-11 08:44] sichvoge commented on #1
There seems to be some confusion about phase 1 around inheritance and if that is supported. To clarify, the input, a set of RAML data types, can have any structure (inheritance, unions, etc.) and the output is a single JSON schema.

[2016-09-15 17:33] jstoiko opened #2 "RAML DT > JSON schema"
- [x] create a `dt2js` CLI that accepts params and outputs result of `datatype-expansion`
- [x] write output of `dt2js` to a schema.json file
- [x] make it possible to use this tool from JS code
- [x] when used from JS code, result should be returned from function, NOT written to file
- [x] build a very complex RAML data type that contains ALL features and use that to verify what needs to be chang

[2016-09-15 17:46] jstoiko opened #3 "JSON schema > RAML DT"
**Plan (simple cases):**
- [x] Create CLI that accepts json file name and RAML type name (optional)
- [x] Implement handling of simple cases of JSON schema
- [x] Test/lint of code that handles simple cases
- [x] Add simple examples of JSON schema
- [x] Test against simple JSON schema examples

**Plan (complex cases):**
- [x] Implement handling of complex cases of JSON schema (anyOf, allOf, oneOf,

[2016-09-16 05:30] jstoiko opened #4 "Initial package setup"
- [x] setup npm package
- [x] look at typescript and Java code for json writers
- [x] JS vs CLJS (update: went with JS)

[2016-09-16 05:36] jstoiko opened #5 "Tests (v1.0)"
- [x] add initial unit tests/lint
- [x] test `dt2js` output in JSON schema validators
- [x] test `js2dt` output in RAML validator
- [x] add missing RAML features to complex RAML example
- [x] ~100% test coverage
- [x] setup travis automated tests
- [x] add integration test that will js->raml example files and parse them with raml-js-parser-2 `{ rejectOnErrors: true }` to perform validation
- [x] a

[2016-09-16 22:31] jstoiko commented on #4
to install using the development version of `datatype-expansion`:
[code]

[2016-09-29 12:35] sichvoge commented on #2
is this already fully supported or do we still have to figure our how to support `fileTypes`? i think we already came to a conclusion right? can you quickly update this ticket @jstoiko

[2016-10-01 03:30] jstoiko commented on #2
yes, so unless anyone has any objections, I think this makes the most sense:
[code]
should become:
[code]

[2016-10-01 03:36] jstoiko opened #6 "Some improvements"
**JSON->RAML DT:**
- [x] convert JSON `object.patternProperties` to RAML pattern properties
- [x] drop JSON `object.dependencies` because RAML doesn't define anything similar
- [x] drop JSON `exclusiveMaximum`, `exclusiveMinimum` because RAML doesn't separate limits on inclusive-exclusive
- [x] drop JSON `array.additionalItems` because RAML doesn't support [tuple validation](https://spacetelescope

[2016-10-03 10:11] sichvoge commented on #2
What are the implications using that format vs a different option?

[2016-10-03 10:12] sichvoge commented on #2
We should also create some documentation that outlines the mapping if there is something different to the JSON spec vs RAML data types.

[2016-10-03 10:20] postatum commented on #2
@sichvoge

If you mean using `fileTypes` vs `media.anyOf`: if we leave `fileTypes` as is and someone will want to use them for validation in JSON, they won't be able to, because `fileTypes` is not a standard JSON Schema keyword.

[2016-10-03 11:57] sichvoge commented on #2
OK, make sense. Let's stick with the `anyOf` then.

[2016-10-11 06:50] #3 closed

[2016-10-11 06:50] #2 closed

[2016-10-11 06:50] #4 closed

[2016-10-11 06:53] #5 closed

[2016-11-03 19:30] dwarburt opened #9 "Cannot handle !include"
A simple Hello World RAML project, that is modified only to !include a file, will generate this exception:

`[~/git/tmp/raml-test]$ dt2js ./api.raml TestType
{ Error
    at generateError (/usr/local/lib/node_modules/ramldt2jsonschema/node_modules/js-yaml/lib/js-yaml/loader.js:162:10)
    at throwError (/usr/local/lib/node_modules/ramldt2jsonschema/node_modules/js-yaml/lib/js-yaml/loader.js:168:9)

[2016-11-11 19:41] davisskchan opened #10 "Throws RangeError"
[eeEntityLib.v1.0.txt](https://github.com/raml-org/ramldt2jsonschema/files/586626/eeEntityLib.v1.0.txt)

E:\Projects\atom\Brooklyn\EE\schemas>dt2js eeEntityLib.v1.0.raml identityEntity
RangeError: Maximum call stack size exceeded
    at RegExp.[Symbol.replace] (native)
    at String.replace (native)
    at Object.cljs$core$quote_string [as quote_string] (C:\Users\DavisChan\AppData\Roaming\npm\node

[2016-11-11 19:56] jstoiko commented on #9
@dwarburt: you're right. That's a limitation of `dt2js`. Includes are not supported (yet?). you should be able to run it against the file that contains that type though.

[2016-11-11 20:09] jstoiko commented on #10
hi @davisskchan, the issue is with:
[code]
if I remove that line, it works.

as highlighted in a [previous issue](https://github.com/raml-org/ramldt2jsonschema/issues/9), `dt2js` does not support external includes. It won't fail if there are includes in the RAML file, but it will fail if the type passed to `dt2js` contains a reference to an external include.

[2016-11-11 23:53] dwarburt commented on #9
@jstoiko well, I can't actually, because it's not the type that's being !included but other details (like examples).

[2016-11-28 23:02] sichvoge commented on #9
Maybe one idea would be to replace the current js-yaml parser with https://github.com/mulesoft-labs/yaml-ast-parser. @jstoiko what do you think?

[2016-12-23 09:51] Relequestual commented on #1
part of the team at json-schema-org. Would love to help out with this where possible, giving feedback etc.

[2016-12-23 21:34] jstoiko commented on #1
That would be awesome @Relequestual! Thanks for offering.

A good way to see where we're at with the project is to run the integration tests.
[code]
and
[code]
The tests that are failing are what needs work, each FAILing test will also output the errors returned by either the RAML or json-schema (`ajv`) parser.

There are also several examples in that `test/` folder but I'm sure we are not coverin

[2017-01-03 11:31] Relequestual commented on #1
Great. May be worth adding that information to the readme for those who want to help out. I won't have the time this month to lend a hand, but next month hopefully will look better.

[2017-01-03 20:39] jstoiko commented on #1
Good idea. Will should put a contributing guidelines document together and add this to it.

[2017-01-18 10:35] Relequestual opened #11 "Define what versions of RAML and JSON Schema are in use"
Looking at the readme.md, I don't know which versions of RAML or JSON Schema the library supports.

[2017-01-18 22:44] jstoiko commented on #11
Thanks for the suggestion! It supports RAML 1.0 - as data types were introduced in that version - and JSON Schema draft 4. I agree we should add this to the docs so it's clear.

[2017-01-20 15:08] sichvoge commented on #1
@Relequestual, your support is definitely welcome! If you'd like to help more than just giving feedback at any point, please let me know and I am happy to add you as a contributor.

I believe that RAML data types and JSON schema perfectly complements each other, and this was our original intention anyways. Let me know if you have any questions.

@jstoiko maybe we can reuse https://github.com/raml-

[2017-01-20 15:09] sichvoge commented on #1
Also @Relequestual, any feedback on RAML data types itself is very much appreciated as well ;)

[2017-01-20 15:32] Relequestual commented on #1
@sichvoge AHHH you're part of the RAML org, cool. I think it's great that we keep in touch with each other. I see JSON Schema and RAML as very similar in many respects. Also, I like RAML much more than *ahem* "Open API" aka Swagger.

[2017-01-20 15:33] Relequestual commented on #1
@sichvoge Equally, if you have feedback about the recent changes with JSON Schema, that would be super awesome. We're getting closer and closer to having draft-6 finished off! Feedback from others who are used to digesting the previous drafts would be super!

[2017-01-20 16:49] sichvoge commented on #1
Sounds super cool. Please point me to anything you want us to have a look at ;) As you said, RAML data types and JSON Schema are very similar and I see RAML data types as complementary to JSON schemas even. Would be great if we grow both simultaneously and together.

We definitely want to get close to JSON Schema, since there are still small differences :)

[2017-01-23 10:34] Relequestual commented on #1
Great to hear @sichvoge - The repo readme has links to issues currentlybeing discussed. There aren't MANY issues outstanding for the draft-6 milestone. I believe we will have a period of review and feedback once WE are happy with draft-6, before pushing it out.

[2017-01-24 09:31] sichvoge commented on #1
Perfect! I also make a list of your changes based on that draft to see what we might be able to introduce in the RAML data type system.

[2017-01-24 09:33] sichvoge commented on #1
@Relequestual can you link to that draft please?

[2017-01-24 15:50] Relequestual commented on #1
The current progress on draft-6 can be found on the master branch at https://github.com/json-schema-org/json-schema-spec - There is also a milestone in issues for draft-6, but that won't contain ALL the changes. I expect the changelog is not complete... I'll investigate on that.

[2017-04-22 20:20] ryan-slack-big opened #12 "Error: No method in multimethod 'datatype-expansion.canonical-form/canonical-form' for dispatch value: $recur"
Is this a defect in dt2js or the RAML?

text.raml:
[code]

[2017-05-22 18:11] kevinduffey opened #13 "Doesnt handle simple RAML 1 example from site"
This is probably already known, but the simple example of RAML 1 data types is not supported for the most part. This is a MUCH needed tool so I hope someone gets on to fixing this ASAP to fully support RAML 1.0 DataTypes. The below pasted example from the RAML 1 example documentation... if you try to convert Group-new, or Group-update, it works. But Group fails.

As well, there needs to be more ex

[2017-06-01 15:03] andyws opened #14 "JsonSchema -> RAML incorrect"
Docs state:

However the following jsonschema generates the below raml including the not supported "title", "format" etal

[code]
[code]

[2017-09-08 17:45] wolframkleis opened #15 "dt2js: wrong JSON schema from RAML Array of union type"
In RAML I have an array type with item  type "Device" that is the union of 2 other types "Phone" and "Notebook". (types are from example in [raml spec](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#union-type) only array is new)
My array  type seems to be converted to an JSON schema that does not describe the same data.

This is the RAML:
[code]
For type "Devices",

[2017-10-06 19:34] jstoiko opened #17 "Bump `datatype-expansion` version in dependencies"
Upgrade to 0.2.x

[2017-10-17 15:39] brevity commented on #14
This should be resolved by PR #16

[2017-10-17 15:45] brevity commented on #14
This Issue should be resolved by PR #16

[2017-10-17 20:50] jstoiko opened #18 "Some improvements (part 2)"
**JSON Schema->RAML DT:**
- [x] make output less verbose
  - remove `required: true` (RAML defaults to true)
  - replace `required: false` by `<property>?` [1]
  - for properties that only have a `{"type" : <type>}` defined in JSON schema, write it in the form `<propertyName>: <type>` in RAML

**RAML DT->JSON Schema:**
- [x] convert RAML pattern properties  ([here](https://github.com/raml-org/raml

[2017-10-17 20:56] jstoiko commented on #1
Will mark this issue as closed when https://github.com/raml-org/ramldt2jsonschema/milestone/2 is released.

[2017-10-17 23:04] #17 closed

[2017-10-17 23:04] #6 closed

[2017-10-17 23:16] jstoiko commented on #14
Hi @andyws I tested again with the latest beta and I think it addresses your issue. The output of that same JSON schema is now:
[code]
If you want to check for yourself, you can download the beta:
[code]

Let me know if you get a chance to look at this before I can merge & release.

[2017-10-21 22:10] #1 closed

[2017-10-21 22:10] #14 closed

[2017-10-22 08:32] sichvoge commented on #1
@jstoiko are you guys thinking about @Relequestual suggestion to somehow also support draft06?

[2017-10-24 10:57] Fuco1 commented on #9
Is this being considered?  It's quite hard to write a raml spec without include when the project has more than 2 endpoints.

[2017-10-24 12:58] sichvoge commented on #9
Completely agree. @jstoiko any updates?

[2017-10-31 16:17] jstoiko commented on #13
Closing this issue since it works as expected. I.e. `Group` is translated properly

test.raml:
[code]

[code]

[2017-10-31 16:17] #13 closed

[2017-10-31 18:30] jstoiko opened #19 "Error when type does not exist is confusing"
test.raml:
[code]

then running the command on a non-existing type:
[code]

The error seems to be coming directly from `datatype-expansion`. Since it does't provide any value, it should be caught and replace by something more explicit like: `Type "Two" does not exist in "test.raml"`

[2017-11-13 11:15] dploeger opened #21 "js2dt: Invalid conversion of "additionalProperties""
There's a difference about the "additionalProperties" facet in jsonschema and the RAML specification.

In Jschonschema it's either a boolean or a JSON schema (or a reference), that additional properties must obey.

In the RAML specification, it's only a boolean. The type of additional properties has to be specified as:

[code]

So, in this example:

[code]

if the included additionalProperties-fac

[2017-11-21 09:34] Relequestual commented on #1
@sichvoge Probably best to open a new issue for this if one doesn't already exist! draft-6 has been released now.

[2017-11-21 17:43] jstoiko opened #22 "support JSON schema draft-6"
- [x] js2dt
  - [x] support for draft 4
  - [x] support for draft 6
- [x] dt2js
  - [x] support for draft 4
  - [x] support for draft 6

See:
- http://json-schema.org/draft-06/json-schema-migration-faq.html

[2017-11-21 17:44] jstoiko commented on #22
@Relequestual: anything else we should look at?

[2017-11-23 08:55] sichvoge commented on #1
Perfect, thanks @Relequestual. I will leave that with @jstoiko.

[2017-11-23 11:17] Relequestual commented on #22
@jstoiko I don't think so. Not even read the guide myself.
@handrews ?

[2017-11-23 16:01] handrews commented on #22
@jstoiko I published draft-7 on Monday so you're out of date ;-)
But that document is all you should look at for draft-6.  I'll be adding the draft-7 migration notes in the next few days.  Moving from 6 to 7 is simpler: all valid draft-06 schemas are also valid draft-07 schemas.  Draft-07 just adds a few things.

[2017-11-29 18:18] amritsinghbains commented on #9
When can we have this complete by?

[2017-11-29 19:06] jstoiko commented on #9
There is a PR waiting for @brevity to add some test cases before merging: https://github.com/raml-org/ramldt2jsonschema/pull/20

Feel free to pull the branch and try it though!

[2017-11-29 22:29] jstoiko opened #24 "Support for RAML libraries"
When using `raml2js`, I should be able to include a type from other RAML libraries w/ `uses` as described in the [spec](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#applying-libraries).

[2017-11-30 21:02] sharkberto commented on #11
how should the field argument for RAML Data type be structured? Does it represent the RAML data type to convert from? Do I specify 0.8 to convert to 1.0, or do I specify 1.0?

[2017-11-30 22:35] jstoiko commented on #11
@sharkberto: I think you're confusing`ramldt2jsonschema` with something else. `ramldt2jsonschema` is for converting RAML data types to JSON schema and vice-versa. RAML data type is a feature of RAML 1.0, not 0.8.

[2017-12-13 19:18] #19 closed

[2017-12-13 19:18] #9 closed

[2017-12-13 19:57] jstoiko commented on #15
@wolframkleis: did you ever overcome this? seems like there needs to be a bit of extra logic [here](https://github.com/raml-org/ramldt2jsonschema/blob/e0d94bf7382cddd2978b6475934fbb3f58187899/src/dt2js.js#L190).

[2017-12-15 10:31] wolframkleis opened #25 "dt2js generates invalid schema in v0.1.1: maxLength is string instead of integer"
In version v0.1.1,  `dt2js` seems to generate invalid JSON schema.
sample code:
[code]
Generated schema:
[code]
In the schema, the value of maxLength is a string. This seems to be an error.
The [JSON Schema specification](https://tools.ietf.org/html/draft-handrews-json-schema-validation-00#section-6.3.1) states that the value of maxLength "MUST be a non-negative integer".
As a consequence, the att

[2017-12-20 17:11] brevity commented on #18
For the second item, 'type string with media wasn't necessarily a RAML type file before'.

What sort of state in the JSON Schema are we trying to account for. Currently, js2dt() identifies a file if `data.type` is a string, and  `data.media.binaryEncoding = 'binary'` Is this issue raised when converting from raml->js and back again?

[2017-12-27 08:51] jstoiko commented on #21
@dploeger: thanks for submitting this issue. would you mind taking a look at #28 to make sure it's what you expected?

[2017-12-27 08:55] dploeger commented on #21
That one looks really nice, yes. Thanks.

[2018-01-09 19:11] #25 closed

[2018-01-09 19:12] #21 closed

[2018-01-09 19:12] #24 closed

[2018-01-09 19:31] jstoiko commented on #15
@wolframkleis: not sure if you had time to test @brevity's PR (#29). If you haven't, feel free to do so and give us your feedback here. If I don't hear from you by tomorrow, I'll go ahead and merge this. Thanks again for reporting the issue!

[2018-01-24 16:28] torsjonas opened #30 "s2dt CLI does not produce a RAML DataType fragment"
`js2dt_cli` does not produce a `#%RAML 1.0 DataType` (as the documentation in the readme as well as code seems to indicate https://github.com/raml-org/ramldt2jsonschema/blob/master/src/js2dt_cli.js#L40
). Instead it produces a `#%RAML 1.0 Library` fragment, which makes this tool unusable in my case. Why output a `#%RAML 1.0 Library` for a single datatype type when a #%RAML 1.0 DataType` seems to b

[2018-02-01 17:43] jstoiko commented on #30
Good point.

I think that the original motivation behind outputting a RAML Library was to eventually allow imputing multiple JSON Schemas.

However that’s not the case right now and we could have some logic that automatically outputs a DataType fragment when there is only one JSON Schema and a Library for when there are more than one. Another option - and this one would have the advantage of not i

[2018-02-07 13:25] TTRh opened #31 "type conversation is broken for integer & boolean : v0.1.2"
See this example :

[code]

I get
[code]

boolean is not converted properly so additionalProperties not working, required property not working
integer either so default values not working

[2018-02-15 16:54] jstoiko commented on #22
fyi, there is a PR in the works here: https://github.com/raml-org/ramldt2jsonschema/pull/33

[2018-03-15 21:31] jstoiko opened #38 "Improvements to js2dt"
- [ ] find a way to handle JSON schema `not`
- [ ] figure out a better way to do conversion, specifically when doing round-trip conversions:
  - [ ] type `string` with `media` wasn't necessarily a RAML type `file` before
  - [ ] type `string` with datetime-like regexp of `pattern` wasn't necessarily any kind of RAML date before. Maybe it is supposed to be just a string with date pattern?
  - [ ] u

[2018-03-15 21:35] jstoiko opened #39 "add integration tests to CI/mocha"
Currently have to run:
[code]
and
[code]

- [ ] this should be a `script` defined in `package.json` using mocha
- [ ] and automatically ran by Travis

[2018-03-15 21:38] jstoiko opened #40 "Test against more complex examples"
- [ ] add complex examples of JSON schema (see https://github.com/fge/sample-json-schemas)
- [ ] add complex examples of RAML type (see https://github.com/raml-org/raml-examples)

[2018-03-20 22:35] #15 closed

[2018-03-20 22:35] #31 closed

[2018-03-20 22:41] psylector opened #41 "Error by conversion more RAML files to one JSON schema"
Hi there,

I have 2 simple RAML files and I tried to convert it to JSON schema, but it cause errors.

Used command:
`dt2js definitions.raml Definitions > output-schema.json` (on Mac OS X)

Could you investigate it and help me?

Thanks a milion
Ondrej

[attachment.zip](https://github.com/raml-org/ramldt2jsonschema/files/1831476/attachment.zip)

[2018-03-20 22:50] psylector commented on #41
I have one more issue (or maybe question). What is necessary to write in RAML definition to get object type as "oneOf" (object | null) in JSON schema?

See:
[target-schema.json.zip](https://github.com/raml-org/ramldt2jsonschema/files/1831497/target-schema.json.zip)

[2018-03-20 23:27] jstoiko commented on #41
@psylector: can you try again using the latest release (v0.1.3 released today)?

This is document in the README: ```the JSON schema `oneOf` property is processed the same way as the JSON schema `anyOf` property, it is converted to the RAML `union` type```

[2018-03-20 23:27] #18 closed

[2018-03-21 08:56] psylector commented on #41
Yes, but the problem still persists.

My source object structure will be in RAML and I need to export it to the JSON schema in which we need to have on attributes types 'oneOf x | y' (for some reason).
Is it here some RAML solution, which will ensure object type 'oneOf x | y' in output JSON schema? (like in attached file target-schema.json.zip)

[2018-03-21 09:19] psylector commented on #41
I attach you my example of source RAML and expected result oneOf in JSON schema.
[carBrand.raml.zip](https://github.com/raml-org/ramldt2jsonschema/files/1832579/carBrand.raml.zip)

[2018-03-26 20:17] TTRh opened #42 "type conversion is broken with v0.1.3"
See this example:
[code]
I get :

[code]

* the minimum/default attribute get's string, but should be integer (as the maximum attribute is btw)
* for the partial attribute, I defined it as enum `{"false", "true"}` (as string not boolean) and the default value get's cast as boolean.

[2018-03-26 20:27] TTRh opened #43 "Duplicate entry `items` in required array v0.1.3"
Here is an example :

[code]
I get

[code]

Seems that's a very special case where I have `items` as object property

[2018-03-27 23:17] jstoiko commented on #42
@TTRh: can you look at and try the proposed fix and let us know if it takes care of your issue?

[2018-03-28 16:39] jstoiko commented on #43
@TTRh #45 should fix your issue. if you have time, please take a look. otherwise, we'll merge and release.

[2018-03-28 19:46] TTRh commented on #42
#44 fix partially this issue: it also introduce a regression, see :

[code]

I get now
[code]

[2018-03-28 19:50] TTRh commented on #43
I confirm #45 fix this issue :tada: !

[2018-03-28 19:57] TTRh commented on #42
More details about the regression type conversation is now broken for all properties which have a custom type. See:

[code]

and I get :
[code]

[2018-03-28 20:14] jstoiko commented on #42
Thanks for the quick feedback. I will let @brevity answer.

[2018-04-02 14:31] brevity commented on #42
@TTRh : Thanks for helping to test. I've just pushed a fix that should handle custom types.

[2018-04-03 21:25] TTRh commented on #42
I confirm: this one is fixed ! :tada:

[2018-04-03 22:31] #42 closed

[2018-04-03 22:31] #43 closed

[2018-04-13 14:34] TTRh opened #46 "Union type is broken when union with array v0.1.4"
See the example:

raml type file:

[code]

I get as json schema:

[code]

`count` should be either `integer` or `integer[]` but the any of generated gives me for both `integer[]`

[2018-04-17 17:53] brevity commented on #46
@TTRh : This looks like something that needs to be changed in the datatype expansion project. In the meantime, try the following syntax (with added parenthesis) and see if the results are usable.

`count: integer | (integer[])`

[2018-04-17 21:34] TTRh commented on #46
Indeed ! that solved the problem :) I'm closing the issue then.

[2018-04-17 21:34] #46 closed

[2018-04-17 22:10] jstoiko commented on #30
@torsjonas: did you ever overcome this issue?

[2018-04-17 22:11] jstoiko commented on #12
This seems fixed. Closing.

[2018-04-17 22:11] #12 closed

[2018-04-17 22:19] jstoiko commented on #11
Added mention in README: RAML 1.0 + JSON Schema Draft 4 (Draft 6 coming soon). Closing.

[2018-04-17 22:19] #11 closed

[2018-04-17 22:28] jstoiko commented on #46
v0.1.5 released

[2018-04-17 22:47] jstoiko commented on #41
@psylector: apologies for the delayed answer.

Your RAML is invalid. You `CarBrand` cannot have both `type: nil` and have `properties` defined, even in a union. What you can do to overcome this is to use some sort of intermediary type, see:
[code]

Closing. Feel free to open a new issue if necessary.

[2018-04-17 22:47] #41 closed

[2018-04-18 07:50] kace91 opened #48 "setBasePath form example doesn't work."
the repo's readme includes the following code as an example:

[code]

however, setBasePath fails like as follows:

Since  raml2json only has two properties (dt2js and js2dt, both  functions).

[2018-04-18 16:42] jstoiko commented on #48
Thanks for submitting this issue. I am not sure what happened there but I’ll take a look.

Regarding your second point, how do you reference those 2 files? Can you share a snippet?

[2018-04-18 19:26] jstoiko commented on #22
(updated description with current progress)

We are assessing whether or not there is any interest in outputting JSON Schema draft-07 instead of draft-06 from RAML type definitions. We're also thinking of making `dt2js` have an option for providing a draft but it would require more thoughts/work so before going forward, we want to make sure that's what people really need.

If any of you (CC: @kace

[2018-04-18 19:55] handrews commented on #22
@jstoiko note that all draft-06 schemas are also valid draft-07 schemas, so I think it's mostly useful to think about where and how people will use the output.

[2018-04-18 21:38] jstoiko commented on #22
right. I am fine with sticking to draft6, especially knowing that it’s forward compatible.

I guess what I am asking is if there is a valid use case for exporting RAML to draft7 in that, are there new features in draft7 that can be better expressed and translated from RAML (and that people would feel would be beneficial to them).

[2018-04-19 11:46] danielgoergen opened #49 "including files with "use" does not seem to work"
I get an error if I include files defining types using

uses:
  ResourceLib: ResourceLib.raml

I get an error stating it does not know a type defined in the second file
Error: could not resolve: ResourceState

[2018-04-19 14:52] jstoiko commented on #49
This seems like an issue with your RAML being invalid. Can you share your entire RAML?

[2018-05-05 00:05] ForsakenHarmony opened #51 "Multiple Inheritance in raml leads to invalid json schema"
[code]

[code]

[2018-05-08 09:52] kace91 opened #53 "JsonSchema generated doesn't validate against draft 4"
I'm generating some schemas and got this sample output:

[code]

that output doesn't validate against draft 4 - nor any later draft.

I'm using [this online validator](https://www.jsonschemavalidator.net/),  and getting several errors. At least some of them seem to be related to the use of "any" as a type.

I'm not too familiar with the different versions of the spec, but [this SO post](https://st

[2018-05-09 10:50] kace91 commented on #53
NeverMind, it was due to a mixup in the source files - effectively invalid raml.

[2018-05-09 10:50] #53 closed

[2018-05-17 17:44] jstoiko opened #54 "support JSON Schema draft-7"
see: http://json-schema.org/draft-07/json-schema-release-notes.html

[2018-05-17 18:19] jstoiko opened #55 "Validate JSON Schema output of dt2js"
ajv can validate JSON Schemas so we might as well use it to validate the output to make sure it is valid. Might want to make this optional though.

[2018-05-17 18:31] #22 closed

[2018-05-17 18:48] handrews commented on #22
@jstoiko the only major new validation features in draft-07 are `if`/`then`/`else` and several new values for `format`.  draft-07 was mostly about hyper-schema.

[2018-05-17 18:58] jstoiko commented on #22
thanks @handrews, tracking this here now: https://github.com/raml-org/ramldt2jsonschema/issues/54

[2018-05-21 13:33] kace91 opened #56 "new version is currently broken on NPM (v0.2.0)"
Hi again! Version 0.2.0 can't be downloaded through npm, with error:

The error comes [from  commit 73a3eaede16b8fadd31d5891a55d3f3d8fa9c5c0](https://github.com/raml-org/ramldt2jsonschema/commit/73a3eaede16b8fadd31d5891a55d3f3d8fa9c5c0), and specifically, from the change made to package.json: it has moved files to a bin folder, yet those files aren't included in the "files" section, so they aren't

[2018-06-05 23:53] #56 closed

[2018-06-06 00:40] jstoiko opened #58 "support for remote $ref in js2dt"
E.g.
[code]
should fetch the JSON Schema referenced in $ref

[2018-06-06 02:37] jstoiko opened #59 ""ramlTypeName" should be optional in js2dt"
[code]

I think that according to [the `commander.js` docs](https://github.com/tj/commander.js#specify-the-argument-syntax), `<ramlTypeName>` [here](https://github.com/raml-org/ramldt2jsonschema/blob/v0.2.0/bin/js2dt.js#L8), should be written with square brackets: `[ramlTypeName]` instead.

[2018-06-07 13:52] #59 closed

[2018-06-08 17:45] #58 closed

[2018-06-14 10:15] kace91 opened #61 "Silent error parsing included files"
I've found a silent error that is produced when trying to parse a file that !includes other datatypes.

Let's say I have the following library:

[code]

And the referenced file:
[code]

The result, is, as expected:

[code]
So far, so good. Now, let's introduce a typo in the referenced file (a missing space between "type" and "array":

[code]

You would expect an error while parsing, however the re

[2018-06-20 22:15] ahager98 opened #63 "losing data in json to raml conversion"
I have a very large json schema I am trying to convert to raml and am seeing far less data than I should in the output file.  Attached is my json schema.

[UpdateReservationRQ.txt](https://github.com/raml-org/ramldt2jsonschema/files/2121301/UpdateReservationRQ.txt)

[2018-06-22 18:39] ForsakenHarmony commented on #63
Could you provide more info on what exactly you're missing?

[2018-06-28 19:00] jstoiko commented on #63
@ahager98: assuming you may have solved this. feel free to re-open this issue if that's not the case.

[2018-06-28 19:00] #63 closed

[2018-06-28 19:16] jstoiko commented on #49
feel free to re-open and provide additional info if the problem persist.

[2018-06-28 19:16] #49 closed

[2018-07-16 15:10] bigmule opened #64 "dt2js Error: could not resolve: Plan_CodeExtGroup"
The type I

[2018-07-16 15:14] bigmule commented on #64
try to run the following: dt2js common-types.raml PaymentCard
/usr/local/lib/node_modules/ramldt2jsonschema/node_modules/datatype-expansion/src/expanded.js:134
    throw new Error('could not resolve: ' + form)
    ^

Error: could not resolve: Plan_CodeExtGroup
The common-types.raml contains the following:
uses:
  simpleTypes: simple-types.raml
  lists: lists.raml

Plan_CodeExtGroup is located in l

[2018-07-16 20:50] jstoiko commented on #64
I can try to reproduce but can you share your RAML?

[2018-07-17 13:10] bigmule commented on #64
Hi,
Did you received the files?
Regards,
Juan

[2018-07-17 17:06] jstoiko commented on #64
nope. you can share them on https://gist.github.com

[2018-07-17 17:12] bigmule commented on #64
Here is the command:
dt2js common-types.raml PaymentCard
and here is the error:
/usr/local/lib/node_modules/ramldt2jsonschema/node_modules/datatype-expansion/src/expanded.js:134
 throw new Error('could not resolve: ' + form)
Error: could not resolve: OTA_CodeExtGroup

[raml-files.zip](https://github.com/raml-org/ramldt2jsonschema/files/2202642/raml-files.zip)
The OTA_CodeExtGroup is in lists.raml

[2018-07-23 10:30] darkrodry opened #65 "Wrong required with object and examples"
Hi there!

I've found an error trying to parse an object with object properties and an example.

For example, I have a RAML library like:
[code]
And 'someExample.json' like:
[code]
So I expect to have a json schema with an empty required array for randomObject, but I get the following:
[code]
If I remove the example in the RAML file, I get the expected json schema output:
[code]
I'm working in a f

[2018-08-01 14:28] jstoiko opened #67 "dt2js drops all `properties` when declaring inline type `object[]`"
[code]
produces:
[code]
with an empty `properties` object. It is also missing `additionalProperties` and `required` JSON Schema properties.

However, note that the equivalent:
[code]
produces the expected output:
[code]

[2018-09-23 11:31] greenkeeper[bot] opened #70 "An in-range update of ajv is breaking the build 🚨"
## The devDependency [ajv](https://github.com/epoberezkin/ajv) was updated from `6.5.3` to `6.5.4`.

🚨 [View failing branch](https://github.com/raml-org/ramldt2jsonschema/compare/master...raml-org:greenkeeper%2Fajv-6.5.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ajv is a devDependency of this project. It **might no

[2018-09-26 06:36] greenkeeper[bot] opened #71 "An in-range update of raml-1-parser is breaking the build 🚨"
## The devDependency [raml-1-parser](https://github.com/raml-org/raml-js-parser-2) was updated from `1.1.47` to `1.1.48`.

🚨 [View failing branch](https://github.com/raml-org/ramldt2jsonschema/compare/master...raml-org:greenkeeper%2Framl-1-parser-1.1.48).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

raml-1-parser is a d

[2018-10-08 21:57] greenkeeper[bot] opened #72 "An in-range update of commander is breaking the build 🚨"
## The dependency [commander](https://github.com/tj/commander.js) was updated from `2.18.0` to `2.19.0`.

🚨 [View failing branch](https://github.com/raml-org/ramldt2jsonschema/compare/master...raml-org:greenkeeper%2Fcommander-2.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

commander is a direct dependency of this

[2018-10-22 20:36] dubnemo opened #73 "OAGIS JSON Schema DRAFT 4 is not converting to RAML 1.0"
The attached JSON Schema DRAFT 4 is not converting to RAML 1.0.  It does use additionalProperties keyword, which I thought would not be converted.  This is the output of js2dt which was generated from NIST's Semantic Refinement Tool:

js2dt Purchase-Order-oagis-id-dd32f9c6c01048a19e15c423c9c741ae.json Purchase-Order-oagis-id-dd32f9c6c01048a19e15c423c9c741ae.raml
#%RAML 1.0 Library
types:
  Token:

[2018-10-23 22:59] jstoiko commented on #73
This tool does not create files per sé but you can pipe the content to one, e.g. `$ js2dt Foo.json Foo > Foo.raml`

[2018-11-01 06:36] greenkeeper[bot] opened #74 "An in-range update of datatype-expansion is breaking the build 🚨"
## The dependency [datatype-expansion](https://github.com/raml-org/datatype-expansion) was updated from `0.3.4` to `0.3.5`.

🚨 [View failing branch](https://github.com/raml-org/ramldt2jsonschema/compare/master...raml-org:greenkeeper%2Fdatatype-expansion-0.3.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

datatype-expan

[2018-11-02 03:00] #70 closed

[2018-11-02 03:00] #71 closed

[2018-11-02 03:01] #72 closed

[2018-11-02 03:01] #74 closed

[2018-11-02 03:29] jstoiko commented on #73
I see what the problem is. The latest version of `ramldt2jsonschema` only supports JSON Schema DRAFT 6. You can still use an older version though.

[code]

I've tested it with 0.1.5 and it works so I'll close this issue for now.

[2018-11-02 03:29] #73 closed

[2018-11-04 21:54] greenkeeper[bot] opened #75 "An in-range update of ajv is breaking the build 🚨"
## The devDependency [ajv](https://github.com/epoberezkin/ajv) was updated from `6.5.4` to `6.5.5`.

🚨 [View failing branch](https://github.com/raml-org/ramldt2jsonschema/compare/master...raml-org:greenkeeper%2Fajv-6.5.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ajv is a devDependency of this project. It **might no

[2018-11-07 10:37] Chudesnov opened #77 "Enum is supported in dt2js but not js2dt"
This works:

test/examples/type_conversion_test.raml:
[code]

npx ramldt2jsonschema test/examples/type_conversion_test.raml TimeRange
[code]

This does not:

test/examples/type_conversion_test.json:
[code]
npx --package ramldt2jsonschema js2dt test/examples/type_conversion_test.json TimeRange

[code]

[2018-11-23 17:32] greenkeeper[bot] opened #79 "An in-range update of raml-1-parser is breaking the build 🚨"
## The devDependency [raml-1-parser](https://github.com/raml-org/raml-js-parser-2) was updated from `1.1.49` to `1.1.50`.

🚨 [View failing branch](https://github.com/raml-org/ramldt2jsonschema/compare/master...raml-org:greenkeeper%2Framl-1-parser-1.1.50).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

raml-1-parser is a d

[2018-12-04 04:20] greenkeeper[bot] opened #80 "An in-range update of datatype-expansion is breaking the build 🚨"
## The dependency [datatype-expansion](https://github.com/raml-org/datatype-expansion) was updated from `0.3.5` to `0.3.6`.

🚨 [View failing branch](https://github.com/raml-org/ramldt2jsonschema/compare/master...raml-org:greenkeeper%2Fdatatype-expansion-0.3.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

datatype-expan

[2019-01-02 17:04] rakeshjain0512 opened #81 "js2dt: invalid conversion for array"
If generated json schema contains array then js2dt script does not generate expected raml datatype contains. Below is the sample json.
`
{
  "type":"array",
  "items" : {
    "type" : "object",
    "properties": {
      "foo": {
        "type": "string"
      },
      "bar": {
        "type": "integer"
      },
      "baz": {
        "type": "boolean"
      }
    }
  }
}
`

After running js2dt I g

[2019-01-05 09:28] greenkeeper[bot] opened #82 "An in-range update of js-yaml is breaking the build 🚨"
## The dependency [js-yaml](https://github.com/nodeca/js-yaml) was updated from `3.12.0` to `3.12.1`.

🚨 [View failing branch](https://github.com/raml-org/ramldt2jsonschema/compare/master...raml-org:greenkeeper%2Fjs-yaml-3.12.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

js-yaml is a direct dependency of this project

[2019-03-17 15:04] greenkeeper[bot] opened #86 "An in-range update of sync-request is breaking the build 🚨"
## The dependency [sync-request](https://github.com/ForbesLindesay/sync-request) was updated from `6.0.0` to `6.1.0`.

🚨 [View failing branch](https://github.com/raml-org/ramldt2jsonschema/compare/master...raml-org:greenkeeper%2Fsync-request-6.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sync-request is a direct d

[2019-04-03 00:47] greenkeeper[bot] opened #87 "An in-range update of commander is breaking the build 🚨"
## The dependency [commander](https://github.com/tj/commander.js) was updated from `2.19.0` to `2.20.0`.

🚨 [View failing branch](https://github.com/raml-org/ramldt2jsonschema/compare/master...raml-org:greenkeeper%2Fcommander-2.20.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

commander is a direct dependency of this

[2019-04-11 13:17] sophieze commented on #81
I added a PR to fix this #88

[2019-06-03 23:45] jstoiko opened #90 "Use webapi-parser to convert"
[`webapi-parser`](https://github.com/raml-org/webapi-parser) new official RAML parser has a mechanism to go from [JSON Schema to RAML DataType](https://raml-org.github.io/webapi-parser/translating-json-raml.html) and [vice-versa](https://raml-org.github.io/webapi-parser/translating-raml-json.html).

We should either consider deprecating this tool or replacing its underlying translation logic with

[2019-07-16 09:15] postatum commented on #90
- [x] return output of webapi-parser
  - [x] dt2js
  - [x] dt2js cli
  - [x] js2dt
  - [x] js2dt cli
- [x] remove x-amf- properties by hand
- [x] check bins
- [x] remove not used deps
- [x] clean up the code
- [ ] update examples
- [ ] test by hand
  - [ ] dt2js example
  - [ ] dt2js cli
  - [ ] dt2js bin
  - [ ] js2dt example
  - [ ] js2dt cli
  - [ ] js2dt bin
- [ ] fix tests
- [ ] update readme

[2019-07-19 07:37] postatum commented on #90
Blocked by https://github.com/raml-org/webapi-parser/pull/30

[2019-07-31 05:54] postatum opened #97 "Compare old vs new conversion output"
- [ ] create "runner" project to compare output [1]
- [ ] update "Limitations" list in readme
- [ ] describe reasons behind those limitations

---
[1]

We could write a tool similar to `raml-tck-runner` to assess what ramldt2jsonschema currently supports vs what AMF doesn’t support.

For RAML -> JSON it would:
   1. Run agains some a of RAML libs (e.g. against `/raml-tck/tests/raml-1.0/Types/`) wh

[2019-07-31 09:44] postatum commented on #97
Started doing some work here https://github.com/postatum/d2j-tck-runner

[2019-08-01 06:23] postatum commented on #97
Moved code to `i97_compare_versions` branch folder `d2j-tck-runner`.

[2019-08-01 10:36] postatum commented on #97
- [ ] convert
  - [x] old dt2js
  - [x] new dt2js
  - [ ] old js2dt
  - [ ] new js2dt
- [ ] semantic compare json
  - [ ] dt2js output (json)
  - [ ] js2dt output (raml converted to json)
- [ ] test on few raml files
- [ ] test on raml-tck
- [ ] report diffs
  - [ ] md with a list of diffs
  - [ ] should include file names

[2019-08-05 09:08] Abn02 opened #98 "Schema generation not working properly when raml key contains dot('.') in it"
https://github.com/raml-org/ramldt2jsonschema/blob/master/src/dt2js.js
in this file under traverse method joining keys with '.' which is causing the issue. It is working if i change delimiter.

[2019-08-16 12:09] postatum commented on #90
TODO:
- [ ] Add `basePath` support back (waiting for https://github.com/raml-org/webapi-parser/pull/37 to be approved)

[2019-08-23 04:47] postatum opened #100 "Test & describe accurately the limitations in the README"

[2019-08-31 21:01] ICornwell opened #102 "Fails silently for (some) old node versions - include min version in ReadMe?"
When running CLI or from .js code, if the node version is old (I was running on 6.11.0) dt2js exits with no errors or warnings. (failure comes from node's child_process.js). I don't think this is a fault with the project, but if the ReadMe included in minimum node version, it would be nice.

[2019-09-03 05:29] anjidevarasetty opened #103 "RAML to JSON schema conversion not working properly"
i'm converting below RAML to json schema
[code]

# then it converting to below schema format
[code]
above generated schema format is wrong
creating anyOf on top level instead of comment key level

# Expected schema will be like below:
[code]
Can you please try this case once

[2019-09-03 21:16] jstoiko commented on #102
v6 is deprecated. See [Node JS release schedule](https://nodejs.org/en/about/releases/) for more information on this.

[2019-09-03 21:16] #102 closed

[2019-09-03 21:19] jstoiko commented on #103
@anjidevarasetty: could you please fix the formatting of your snippets? currently, they are un-readable. See [this page](https://guides.github.com/features/mastering-markdown/) if you're getting started with GFM.

[2019-09-04 04:47] anjidevarasetty commented on #103
@jstoiko updated format of my snippets. Can you please check it once.

[2019-09-04 23:09] jstoiko commented on #103
This should be addressed in the version that's currently being worked on. Here's the PR, feel free to pull the corresponding branch and try locally. Unfortunately, we don't have a release date yet but will let you know as soon as this happens.

[2019-09-04 23:29] jstoiko commented on #103
@postatum: fyi above.

@anjidevarasetty: if this cannot wait, you still have the option to use the new RAML parser called [`webapi-parser`](https://github.com/raml-org/webapi-parser). It provides a way to [convert RAML DT to JSON Schema](https://raml-org.github.io/webapi-parser/translating-raml-json.html).

[2019-09-05 06:51] postatum commented on #103
Hi @anjidevarasetty .

Thanks for reporting this issue, but produced schemas is a valid JSON Schema draft-06 schema. It's just a very flat, denormalized so to say, way to define the schema.

@jstoiko is right, new version addresses this case and puts `anyOf` as deep as possible. It will be on the `comment` key level in the example you provided.

[2019-09-09 10:27] anjidevarasetty commented on #103
Thanks @jstoiko
i tried with webapi-parser, but unfortunately not working in my case as my raml contains multi level inheritance for some objects.

[2019-09-17 09:37] postatum opened #104 "Add type:nil support"
See https://github.com/raml-org/ramldt2jsonschema/pull/96#discussion_r320992010 and https://github.com/aml-org/amf/issues/555

[2019-09-20 19:36] jstoiko commented on #104
@postatum: AMF 3.5.1 which was just released addresses this issue

[2019-09-23 06:41] postatum commented on #104
Will be resolved in a new version by https://github.com/raml-org/ramldt2jsonschema/commit/e3be4cd35be6955479b5efdf6bb39a7404e55eeb

[2019-09-23 06:41] #104 closed

[2019-09-23 07:26] postatum commented on #100
Limitations have been tested and described already.

[2019-09-23 07:26] #100 closed

[2019-09-23 07:26] postatum commented on #97
Not relevant any more since limitations were tested and described by hand.

[2019-09-23 07:26] #97 closed

[2019-09-23 07:26] #75 closed

[2019-09-23 07:26] #79 closed

[2019-09-23 07:26] #80 closed

[2019-09-23 07:26] #82 closed

[2019-09-23 07:26] #86 closed

[2019-09-23 07:26] #87 closed

[2019-09-23 07:28] postatum commented on #103
I'm closing this issues since it was stale for 14 days.

@anjidevarasetty we are releasing a new version soon. You are welcome to give it a try and ask any questions you have.

[2019-09-23 07:28] #103 closed

[2019-09-23 07:37] postatum commented on #10
External includes will be supported in a new major version.

[2019-09-23 07:37] #10 closed

[2019-09-23 07:40] postatum commented on #51
Fixed in a new major release.

[2019-09-23 07:40] #51 closed

[2019-09-23 07:40] postatum commented on #54
New major release will support draft 4, 6, 7.

[2019-09-23 07:40] #54 closed

[2019-09-23 07:46] postatum commented on #55
@jstoiko is this issue still relevant after rework using webapi-parser?
We already validate dt2js output while running integration tests. IMO if integration tests pass, we can assume dt2js produces valid json.
I think this step should be performed during development/testing (as it is now) and not in users' projects.

[2019-09-23 08:27] postatum commented on #61
Thanks for reporting this issue @kace91. We are soon making a new major release which addressed this issue among others.

[2019-09-23 08:27] #61 closed

[2019-09-23 08:31] postatum commented on #64
We are soon releasing new major version which should address this issue among others.
Thanks for reporting it @bigmule !

[2019-09-23 08:31] #64 closed

[2019-09-23 08:34] postatum commented on #65
Thanks for reporting this issue @darkrodry.

We are soon releasing a new major version which doesn't have this issue.

[2019-09-23 08:34] #65 closed

[2019-09-23 08:35] postatum commented on #67
New major release (webapi-parser rework) doesn't have this bug.

[2019-09-23 08:35] #67 closed

[2019-09-23 08:37] postatum commented on #77
Thanks for reporting this issue @Chudesnov.

We are soon releasing a new major version which supports enums.

[2019-09-23 08:37] #77 closed

[2019-09-23 08:54] postatum commented on #81
Hi @rakeshjain0512. Thanks for reporting this issue!

We are soon releasing new major version which addresses this issue among others.

[2019-09-23 08:54] #81 closed

[2019-09-23 08:56] postatum commented on #98
Hi @Abn02.
We are soon releasing a new major version which addresses this issue. Thanks for reporting it!

[2019-09-23 08:56] #98 closed

[2019-09-23 09:24] #90 closed

[2019-09-23 16:29] jstoiko commented on #55
would it “cost” a lot to add a `—validate` option to dt2js and use AJV to validate? if not, I think it’s worth working on it for a future minor release.

[2019-09-23 16:31] #38 closed

[2019-09-23 23:40] jstoiko opened #106 "`dt2js` does not always output a `$schema` property"
[code]

Not sure if this is something specific to certain types because other types work as expected with all 3 draft versions, see:
[code]

[2019-09-24 06:03] postatum commented on #55
It wouldn't.

Ok

[2019-09-24 06:07] postatum commented on #106
In case of `test/integration/raml/person_type_include.raml`, type `Person` is defined as `type: !include ../json/simple_person.json` which doesn't specify `$schema` property.

I guess when running `toJsonShema`, types like that are completely replaced by a json schema they include. I've also just noticed that output schema doesn't include `Person.description`.

[2019-09-24 20:41] jstoiko commented on #106
by "manually", I'm assuming you mean "ramldt2jsonschema", right?

[2019-09-25 06:47] postatum commented on #106
Yes. We would add draft-04 `$schema` if it's missing and then process schema as usual.

[2019-09-26 05:58] anjidevarasetty commented on #98
Hi @postatum Thanks for the update
please update once new version released.

[2019-09-26 06:39] postatum commented on #98
Hi @anjidevarasetty. It has been released. The new version is 1.0.0.

[2019-10-01 07:20] postatum commented on #106
This issue can be fixed as this comment suggests: https://github.com/aml-org/amf/issues/557#issuecomment-536688740

[2019-10-04 07:28] postatum commented on #55
@jstoiko should validation only work when using dt2js as CLI?
I think it should because when using it from js code:
1. Users can validate output json schema by themselves if they want;
2. Output of dt2js would become complicated because then it would have to be either validation report or json schema, and have some flag to show if schema is valid or not.

Or should it work both in CLI and js and t

[2019-10-04 21:34] jstoiko commented on #55
I have an idea. Would you be able to provide two simple examples, one showing `dt2js` CLI + output pipes using `ajv-cli` (or any other "standard"/popular JSON Schema validator), and the other one showing how to achieve the same in code. Let's see what it looks like. Maybe we don't need this feature at all as longs as they're easy ways to get to the same result.

[2019-10-05 05:13] #106 closed

[2019-10-05 05:37] postatum commented on #55
Below are code examples.
Validating output schema in JS code is pretty simple. Validating using CLI, on the other hand, is complicated. I didn't find any CLI libs to validate json schema other than ajv-cli. It doesn't have support for piping so a complex command has to be constructed to make it work with dt2js.

[code]
[code]

[2019-10-26 00:07] jstoiko opened #109 "Validate RAML Datatype output of js2dt"
Similar to #55 but for js2dt and using `webapi-parser`'s validation.

[2019-10-28 07:04] #55 closed

[2019-10-29 18:03] ettoregia opened #111 "JSON schema to RAML not converting arrays"
The below JSON schema produce the below RAML library which displays the records item not as an array:

[code]

[code]

[2019-10-31 05:20] postatum commented on #40
Reopened as discussed in #110.

[2019-11-05 20:25] jstoiko commented on #111
@ettoregia: as @gutee pointed-out in [this comment](https://github.com/aml-org/amf/issues/564#issuecomment-549950519), it is not possible to enforce the type of an item at a specific position in RAML.

Is this what you really meant to define or did you mean to define `items` in combination with `anyOf`? The latter would be equivalent to the RAML union type.

[2019-11-11 07:18] ettoregia commented on #111
Hi @jstoiko, all I was trying to achieve was, given the above json schema to get a RAML out. Are we saying that's not possible for the specific json schema in input?

[2019-11-14 23:47] jstoiko commented on #111
Since RAML allows you to refer to JSON schemas from within types, you can do:
[code]
assuming you schema file above is named `schema.json` and obviously you can also put records in its own JSON schema file, say `records.json`, in which case you would end-up with:
[code]

(I've intentionally simplified your RAML)

[2019-11-18 11:42] karolbmx opened #113 "Question js2dt"
Hi,

one quick question - i want to transform JSON schema to DT:
complex_cat.json
{
    "$schema": "http://json-schema.org/draft-04/schema#",
    "description": "A representation of an event",
    "properties": {
        "category": {
            "type": "string"
        },
        "description": {
            "type": "string"
        },
        "dtend": {
            "description": "Event ending

[2019-11-19 07:08] postatum commented on #113
Hi @karolbmx. Please wrap the json you provided matches the one you tried to convert, because it works for me on Ubuntu

[2019-11-19 10:26] karolbmx commented on #113
It's works when file is under npm folder in example this command will works:
C:\Users\karol\AppData\Roaming\npm\js2dt complex_cat.json test
but this will throw exception:
C:\Users\karol\AppData\Roaming\npm\js2dt C:\Users\karol\AppData\Roaming\npm\complex_cat.json test

Any idea why?
Its possible to provide json schema as String instead path to file?
Thanks

[2019-11-19 10:50] postatum commented on #113
@karolbmx you could install the lib as a local npm dependency and use it from your nodejs code: https://github.com/raml-org/ramldt2jsonschema#js2dt-1

Meanwhile, please:
1. Try to run (note forward slashes) ` C:\Users\karol\AppData\Roaming\npm\js2dt C:/Users/karol/AppData/Roaming/npm/complex_cat.json test` and let me know how it works.
2. Let me know what nodejs version you use.

[2019-11-21 08:03] postatum commented on #113
@karolbmx Hi. Did you resolve this issue?

[2019-11-29 08:17] karolbmx commented on #113
Node v10.16.3. I have prepared workaround (copy to root/parse/remove).
Thanks

[2019-11-29 09:32] postatum commented on #113
Ok, nice.

Did this work for you?:

[2019-12-02 08:23] #109 closed

[2019-12-06 20:06] jstoiko commented on #111
To address this, I think we should find an elegant way to have the output RAML either embed the part of any JSON Schema that cannot be translated in RAML or have it be included like in the examples above.

@postatum: can you add this to the "Limitations" of the README for now?

[2019-12-10 07:45] postatum commented on #111
Added.

[2019-12-19 10:18] OzBob opened #115 "Is a 'full API definition json' to raml conversion possible?"
I have a large API definition with all the types and protocols and traits etc. in one file formatted as json. Any suggestions on how to convert it into RAML?

[2019-12-19 10:57] postatum commented on #115
Hi @OzBob.
Depends on what you mean by `full API definition json`.

If your API is expressed in terms of RAML but is represented as JSON, you should use some library that converts json to yaml.

If your API is is expressed as OAS 2.0, then you should use a library which powers this one: [webapi-parser](https://github.com/raml-org/webapi-parser). The code you need would look like:
[code]

[2019-12-19 11:02] postatum commented on #115
E.g. in the first option you can achieve what you need with [js-yaml](https://github.com/nodeca/js-yaml) like so:

[code]

[2019-12-23 07:08] postatum commented on #113
Closing as there was no answer for a long time. Feel free to reopen.

[2019-12-23 07:08] #113 closed

[2019-12-23 07:09] postatum commented on #115
Hi @OzBob. Did my comments help? If so, please close this issue.

[2020-01-07 03:21] OzBob commented on #115
First option was spot on. I had to remove the 'uses' node from the source json, but that's ok.

[2020-01-08 07:41] OzBob commented on #115
@postatum I tried using the yaml produced but it's not valid raml, it's array for types representation has '-' prefixes everywhere.

types:
  addDocumentToFolderRequest:
    type: object
    properties:
      - type: string
        name: document_id
        displayName: document_id
        typePropertyKind: TYPE_EXPRESSION
        required: true
        description: "Unique ID of the document\_ass

[2020-01-08 07:42] OzBob commented on #115
Is there a JSON to RAML: version of this tool? https://github.com/raml-org/raml-js-parser-2/

[2020-01-09 06:48] postatum commented on #115
@OzBob can you provide an example of RAML for which you get an array in `properties:`?

[2020-01-10 02:38] OzBob commented on #115
This node code:

[code]

Produces:
[code]

'js-yaml' conversion is a faithful representation of the array of 'properties' array, just not valid RAML.

I can give you a copy of the fill API doc, but it's private so maybe via email ...

[2020-01-10 06:52] postatum commented on #115
Thanks @OzBob. I believe you've already noticed that the JSON data you try to convert has `properties` value as an array as well. I thinkg you should either restructure it in code "by hand" or make sure whatever produces that JSON data outputs `properties` as an object instead of an array.

[2020-01-10 07:08] OzBob commented on #115
thanks @postatum will do some hand coding

This https://github.com/raml-org/raml-js-parser-2/  does RAML to JSON.

Is there a JSON to RAML app/pkg?

[2020-01-10 07:12] postatum commented on #115
Approach with `js-yaml` should do what you need if you use `raml-1-parser` to convert RAML to JSON, because `raml-1-parser` produces `properties` as an object instead of an array.

[2020-03-04 04:28] OzBob commented on #115
@postatum thank you for the advice and assistance.
All the various combinations of converters couldn't convert my JSON property arrays into RAML property objects.
```js-yaml.safeDump``` dropped 'properties' that weren't objects.
I will request the original vendor supply a more compatibly file.

[2020-03-04 04:28] #115 closed

[2020-07-16 23:28] kyleaburke1 opened #123 ""Cannot parse document with specified vendor: OAS 2.0" despite attempting to run js2dt command"
When I run the following command:

`c:\>js2dt C:\Users\kyle.burke\Documents\sfdc_user_schema.json user`

I get the following error:

`amf.core.exception.UnsupportedVendorException: Cannot parse document with specified vendor: OAS 2.0`

Here is the JSON schema referenced

[code]

[2020-07-17 06:27] postatum commented on #123
Hi @kyleaburke1.

Please specify:
1. Which version of the lib you use;
2. Which version of nodejs do you use;
3. You're on Windows, right?

PS. I've just tried to run this command with the schema you provided on Linux and it worked fine.

[2020-07-17 07:24] postatum commented on #123
Hi again @kyleaburke1.

I've just released a new version - 1.2.3. Please install it and let me know if the issue still occurs.

Thanks!

[2020-07-17 07:32] kyleaburke1 commented on #123
Thanks! I'll confirm tomorrow :)

On Fri, Jul 17, 2020, 12:24 AM Artem Kostiuk <notifications@github.com>
wrote:

[2020-07-21 02:54] kyleaburke1 commented on #123
I can confirm that this new version corrected the issue :)

[2020-07-21 02:54] #123 closed

[2020-09-17 09:11] vanp33 opened #124 "resolving references not working"
Hi, at our project we have a bunch of raml-files, which have references to other ramls. Something like this:

[code]
I tried the example code but it didn't work. I don't know if there is something need to be configured in order to work?
js:
[code]
Best regards

[2020-09-21 07:06] postatum commented on #124
Hi @vanp33.

How exactly didn't it work?
Please describe what's the expected and actual output.

Thanks!

[2020-09-21 07:26] vanp33 commented on #124
Hi @postatum ,
the type, which is referenced by market_raml_file is not resolved. In the json file I got
[code]

[2020-09-29 07:20] planmillantti commented on #124
References do work with command line, but they do not work in the javascript library.

I have two small RAML files. account.raml:

[code]

And linktest.raml:

[code]
when I run in command line

{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "$ref": "#/definitions/account",
  "definitions": {
    "account": {
      "type": "object",
      "additionalProperties": true,
      "required":

[2020-11-24 03:04] AstroBurrito opened #125 "script not working on windows; need help"
Is this still actively supported?  I'm having difficulty specifically with running the script in windows.  I seem to have no problem with macOS.

When I run the script in Windows I only ever get a boolean statement of "true" for whatever datatype I'm trying to convert to json.

Is there anything special I need to do for Windows?

e.g.:
{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "$

[2021-03-31 23:56] AstroBurrito opened #127 "Can someone review the bot pull request please?"
Can someone review the bot pull request please?

Will the y18n dependency upgrade break anything?

[2021-04-08 00:53] #127 closed

[2021-04-28 02:55] StatusCode404 commented on #124
Any update on this?

[2021-04-28 04:07] StatusCode404 opened #128 "All versions greater than v1.0.0 have CLI dt2js broken!"
All versions greater than v1.0.0 have CLI dt2js broken!
Last working version is ramldt2jsonschema@1.0.0
Using node version 16.0.0
OS:	Mac OS X
OS ver:	10.15.7

running a command like
`$ dt2js ./cdm-library.raml Address --validate`
fails on all versions greater than 1.0.0

The library file contains Types which are referenced using "!include" which are in individual files per type in a subfolder.

T

[2021-04-28 04:19] StatusCode404 commented on #128
Please fix the regression so we can utilise the latest version.

[2021-04-30 05:45] AstroBurrito commented on #125
No longer an issue!

I followed the steps from @StatusCode404's Issue and installed version 1.0.0 with node 14.15 and it worked in Windows.

[2021-04-30 05:45] #125 closed

[2021-05-05 01:33] AstroBurrito commented on #128
Have gotten it to work with dt2js version >1.0.0.  "ajv" nodeJS module prerequisite was missing.  Perhaps the documentation should be updated clearly indicating this requirement.  I only figured it out looking at the tag notes.

[2021-05-05 01:35] StatusCode404 commented on #128
@AstroBurrito's solution worked.

[2021-05-05 01:35] #128 closed

[2021-05-05 01:37] StatusCode404 opened #129 "Please update README for Mandatory dependency to ajv"
Please update README for Mandatory dependency to ajv.

CLI dt2js will not work for versions>1.0.0 without ajv

[2022-01-07 07:06] Nikhil1997 opened #134 "Dependency to json-schema-migrate"
It is causing a white source issue.
https://www.whitesourcesoftware.com/vulnerability-database/CVE-2020-15366

An issue was discovered in ajv.validate() in Ajv (aka Another JSON Schema Validator) 6.12.2. A carefully crafted JSON schema
could be provided that allows execution of other code by prototype pollution. (While untrusted schemas are recommended against, the worst case of an untrusted schem